.hover-div {
  position: relative;
  background-color: rgba(10, 76, 138, 1);
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  width: 170px;
  text-align: center;
  z-index: 200;
}

.hover-div:hover {
  background-color: rgba(7, 44, 80, 0.984);
}

.hover-div:hover .btn-group {
  visibility: visible;
}

.btn-group:hover {
  visibility: visible;
}

.btn-group {
  visibility: hidden;
  position: absolute;
  top: 43px;
  left: 0px;
}

.btn-group button {
  padding: 5px 30px;
  border-radius: 2px;
  width: 170px;
  background-color: rgba(121, 158, 193, 0.901);
  color: white;
  border: darkblue 0.5px;
  margin-top: 1px;
}

.btn-group button:hover {
  background-color: rgba(38, 106, 169, 0.901);
}
