#img-list li img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

#img-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul {
  margin: 50px;
  padding: 0px;
  width: 70%;
}
