.container {
  margin: 10px 3px auto;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  overflow-x: auto; /*y축 스크롤바 생성*/
}

.plot {
  grid-column-start: 1;
  grid-row: 2/10;
  border: 3px gray solid;
  width: 100%;
  height: 90%;
  position: relative;
}

.buttonDiv {
  position: absolute;
  right: 3px;
  top: 770px;
  display: flex;
  justify-content: right;
  /* align-items: flex-start; */
}

.url {
  grid-column: 1/2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
