#img-list li img {
  width: 420px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  cursor: pointer;
  margin: 0px 25px;
}

#img-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 50px;
  padding: 0px;
  width: 70%;
}
